# Dependencias de Node (¡súper pesado, nunca debe subirse!)
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compilación y Caché de Angular
/.angular
/dist
/tmp
/out-tsc

# IDEs y Editores de código
/.vscode/*
!/.vscode/extensions.json
!/.vscode/tasks.json
!/.vscode/launch.json
!/.vscode/settings.json
/.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de entorno sensibles o locales
.env

# Sistema operativo
.DS_Store
Thumbs.db